.navbar{
    list-style-type: none;
    margin:0 ;
    padding: 0;
    overflow: hidden;
    background-color:royalblue;
}
.navbar li{
    float: left;
}
.navbar li a{
    display: block;
    color: yellow;
    padding: 14px 16px;
    text-decoration: indigo;
}
.navbar li a :hover{
    background-color: mediumblue;
}
table, td, th { 
    border: 5px solid red; 
  }
  table { 
    border-collapse: collapse; 
  } 
  td,th{
      padding: 5px;
  }
  td{
      text-align: center;
  }
  caption{
    caption-side: bottom;
    text-align: center; 
    font-style: italic; 
    font-weight: bold; 
    color: black; 
  }
.table-simple th { 
    background-color: black; 
    color: white; 
  }
  .table-simple tr:nth-child(even) { 
    background-color: #ececec; 
  }
  .table-simple tr:nth-child(odd) { 
    background-color: #fff; 
  }
  .table-simple tr:hover { 
    background-color: #acffbe; 
  } 
  .head-body-foot thead {

    color: purple;
    
    background-color: rgb(243, 136, 13);
    
    }
    
    .head-body-foot tbody {
    color: rgb(182, 212, 182);
    font-weight: bold;
    background-color: rgb(68, 39, 177);
    }
    .head-body-foot tfoot {
    color: rgb(5, 4, 0);
    background-color: rgb(227, 231, 233);
    font-weight:bold ;
    }
    .head-body-foot thead:hover {
      background-color: #acffe3;
      }
     .head-body-foot tfoot:hover {
       background-color: firebrick;
      }
      .head-body-foot tbody:hover{
        background-color: green;
      }
.scroll-bar {
   overflow-x: auto;
   }
   .table-image {
     margin: 0 auto;
   }
   
<style>
table.GeneratedTable {
  width: 100%;
  background-color: #c1a9a9;
  border-collapse: collapse;
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  color: #050505;
}

table.GeneratedTable td, table.GeneratedTable th {
  border-width: 2px;
  border-color: #ffcc00;
  border-style: solid;
  padding: 3px;
}

table.GeneratedTable thead {
  background-color: #dfd32a;
}
</style>
.